body {
    margin: 0;
    padding: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Electrolize", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 6em;
}

.header h1,
.header h2 {
    margin: 8px 0;
}

.header__title {
    font-size: 54pt;
}

.header__subtitle {
    font-size: 36pt;
    font-weight: lighter;
}

.fractal {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-width: 1200px;
}

.fractal__canvas {
    width: 100%;
}

.fractal__slider {
    margin: 18px 0;
}
