body {
    margin: 0;
    padding: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Electrolize", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 36pt;
    font-weight: lighter;
}

.header__title {
    margin: 0;
    margin-bottom: 18px;
}

.fractal {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-width: 1200px;
}

.fractal__canvas {
    width: 100%;
}

.fractal__slider {
    margin: 18px 0;
}
